#header {
  display: flex;
  box-sizing: border-box;
  height: 10vh;
  width: 100vw;

  background-color: rgba(191, 61, 61, 0.791);

}  



h1 {
    color: blue;
    display: inline-block;
}

main {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    align-items: flex-start;

      
}

#posts-filters-panel {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    order: 1;
    box-sizing: border-box;
    height: 89vh;
    width: 20vw;
    overflow-y: scroll;
    background-color: aqua;
}

#posts-detailed-view {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    order: 2;
    box-sizing: border-box;

    flex-wrap: wrap;
    height: 89vh;
    width: 80vw;
    background-color: teal;
}

.posts-filters-card {
    border: 1px solid black;
    width: 100%;
    padding-bottom: 1em;
}

#login-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    order: 2;
    box-sizing: border-box;

    flex-wrap: wrap;
    height: 90vh;
    width: 100vw;
    
    background-image:url(../imgs/ChappyList.jpeg);
}

#login-card-backsplash {

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    


    width: 30vw;
    height: 45vh;
    background-color: teal;
    
}

#label-username {
    margin: 2vh 1vw 2vh 1vw;
    padding: .5vh .3vw .5vh .3vw;
    background-color: black;
    color: antiquewhite;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#input-username {
    margin: 2vh 1vw 2vh 1vw;
}

#label-password {
    margin: 2vh 1vw 2vh 1vw;
    padding: .5vh .3vw .5vh .3vw;
    background-color: black;
    color: antiquewhite;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#input-password {
    margin: 2vh 1vw 2vh 1vw;
}

#button-login {
    margin: 2vh 1vw 2vh 1vw;

    background-color: blue;
    color: antiquewhite;
    font-weight: bold;
    font-size: 1.5em;
}

#button-register {
    margin: 2vh 1vw 2vh 1vw;

    background-color: green;
    color: antiquewhite;
    font-weight: bold;
    font-size: 1.5em;
    
}



#create-new-post{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-sizing: border-box;
    width: 20vw;
}

.create-new-post-title {
    margin: 2vh 1vw 2vh 1vw;
    padding: .5vh .3vw .5vh .3vw;
    background-color: black;
    color: antiquewhite;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#my-existing-posts {
    display: flex;
    flex-flow: column;
    justify-content: start;
    box-sizing: border-box;
    width: 40vw;
    height: 85vh;
    overflow-x: scroll;
}

.my-posts-filters-card {
    display: flex;
    flex-flow: column wrap; 
    align-items: center;
    border: 1px solid black;
    height: 15vh;
    width: 38vw;
    max-width: 38vw;
    padding-bottom: 1em;
    overflow-x: scroll;

}

#profile-posts-detailed-view {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    order: 2;
    box-sizing: border-box;

    flex-wrap: wrap;
    height: 89vh;
    width: 40vw;
    background-color: teal;
}

